<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.koushikdutta.async"
    android:versionCode="138"
    android:versionName="1.3.8">

    <uses-sdk
        tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
    </application>

</manifest>
